body{
    background: #695423 ;
    width: 700px;
    margin: auto;

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 4vh;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    height: fit-content;
    text-align: center;
    background-color: #000000;
    color: #d7b5ff;
    margin: 5px;
    border-radius: 5%;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 110px;
    height: auto;
    color: white;
    text-align: center;
    background-color: #1c1c1c;
    margin: 5px;
    padding: 5px;
}
a p{
    color: #ebfafa;
    background-color: rgb(0, 0, 0);
    border-radius: .5vw;
    width: 105px;
    margin: auto auto 5px;
    text-decoration: none;
    transition: ease-in .3s;
}
a p:hover{
    color:gold;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#principal{
    background: #d7a968;
    border-radius: 1vw;
}

.contenedor{
    position: relative;
    width: 690px;
    border: 5px solid #e2e2e2;
    border-style: dashed;
    margin-top: 15px;
    display: flex;
}

.contenedor div img{
    background: #000000;
    width: 120px;
    height: 70px;
    color: #ff0000;
    font-size: 2em;
    margin: 5px 5px 0px;
    position: relative;
}

.overlay{
    position: absolute;
    top: 5px;
    left:auto;
    margin: 0px 5px;
    height: 70px;
    width: 120px;
    transition: .5s ease-out;
    opacity: 0%;

}
.overlay:hover{
    opacity: 80%;
    background-color:#000000;
}

#caja1{
    flex-direction: row;
}
#caja1 div{
    background-color: rgb(61, 25, 95);
}

#caja2{
    flex-direction: row-reverse;
}
#caja2 div{
    background: rgb(43, 226, 128);
}

#caja3{
    width: 130px;
    flex-direction: column;
}
#caja3 div{
    background: rgb(189, 226, 43);
}

#caja4{
    width: 130px;
    flex-direction: column-reverse;
}
#caja4 div{
    background: rgb(226, 43, 192);
}

#caja5{
    width: 200px;
    flex-wrap: wrap;
}
#caja5 div{
    background: rgb(43, 220, 226);
}

#caja6{
    width: 200px;
    flex-wrap: nowrap;
}
#caja6 div{
    background: rgb(226, 43, 43);
}

#caja7{
    width: 200px;
    flex-wrap: wrap-reverse;
}
#caja7 div{
    background: rgb(6, 254, 6);
}

#caja8{
    justify-content: flex-start;
}
#caja8 div{
    background: rgb(254, 6, 192);
}

#caja9{
    justify-content: flex-end;
}
#caja9 div{
    background: rgb(6, 64, 254);
}

#caja10{
   justify-content: center;
}
#caja10 div{
    background: rgb(254, 6, 6);
}

#caja11{
    justify-content: space-between;
}
#caja11 div{
    background: rgb(237, 254, 6);
}
#caja12{
    justify-content: space-around;
}
#caja12 div{
    background: rgb(52, 6, 254);
}   